@import "global";

$height-header: $spacing-vertical * 4;
$full-width: 100%;
$h1-height: $spacing-vertical * 2;

html
{
  height: 100%;
  font-size: $font-size;
}
body
{
  font-family: 'Source Sans Pro', sans-serif;
  line-height: $font-line-height;
}

// drawer begins

$drawer-width: 240px;

// #drawer
// {
//   width: $drawer-width;
//   position: fixed;
//   min-height: 100vh;
//   left: 0;
//   top: $header-height;
//   background: $color-bg;
//   z-index: 3;
//   .drawer-item
//   {
//     display: block;
//     padding: $spacing-vertical / 2;
//     font-size: 1.2em;
//     height: $spacing-vertical * 1.5;
//     .icon
//     {
//       margin-right: 6px;
//     }
//     .link-label
//     {
//       line-height: $spacing-vertical * 1.5;
//     }
//     .badge
//     {
//       float: right;
//       background: $color-money;
//       display: inline-block;
//       padding: 2px;
//       color: white;
//       margin-top: $spacing-vertical * 0.25 - 2;
//       border-radius: 2px;
//     }
//   }
//   .drawer-item-selected
//   {
//     background: $color-canvas;
//     color: $color-primary;
//   }
// }
// #drawer-handle
// {
//   padding: $spacing-vertical / 2;
//   max-height: $header-height - $spacing-vertical;
//   text-align: center;
// }

// #window.drawer-closed
// {
//   #drawer { display: none }
// }
// #window.drawer-open
// {
//   #main-content { margin-left: $drawer-width; }
//   .open-drawer-link { display: none }
//   #header { padding-left: $drawer-width + $spacing-vertical / 2; }
// }

// // drawer ends


// header begins

#header
{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  background: $color-bg;
  color: $color-primary;
  padding: $spacing-vertical / 1.5;
  position: fixed;
  top: 0;
  left: 0;
  width: $full-width;
  box-sizing: border-box;
  box-shadow: 0px 3px 20px #888888 !important;
  z-index: 2;
  // h1 { font-size: 1.8em; line-height: $height-header - $spacing-vertical; display: inline-block; float: left; }
  &.header-scrolled
  {
    box-shadow: $default-box-shadow;
  }
  .logoStyle {
    height: 36px !important;
  }
  .navLinks
  {
    list-style-type: none;
    // display: inline-block;
    text-transform: uppercase;
  }
  .nav-item {
    padding: 15px;
    // display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
  }
  .nav-item-selected {
    padding: 15px;
    background-color: $color-primary;
    color: white;
    // display: inline-block;
  }
  .link-label {
    margin-left: 5px;
  }  

}

.search {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    background-color: white;
    position: fixed;
    top: 68px;
    width: $full-width;
    z-index: 1;
    .searchTitle {
      background-color: $color-primary;
      border: none;
      text-decoration: none;
      font-size: 1.3em;
      color: white;
      flex-basis: 10%;
      padding: $spacing-vertical / 1.5;
    }  
    input[type="search"] {
      background-color: white;
      color: #343434;
      @include placeholder-color(#e8e8e8);
      border: none;
      font-size: 1.3em;
      flex-basis: 90%;
      padding: $spacing-vertical / 1.5;

    }

}

// header ends

h1 {
    display: block;
    position: fixed;
    text-align: left !important;
    text-transform: uppercase;
    color: #343434;
    font-size: 2em;
    width: $full-width;
    padding: $spacing-vertical / 1.5;
    height: $h1-height;
}

#main-content-wrap {
  display: block;
  padding: $spacing-vertical / 1.5;
  // background-color: yellow;
  margin-top: $h1-height + 95px;
  height: 100%;
}

nav.sub-header
{
  position: fixed;
  display: inline-block;
  text-transform: uppercase;
  color: #343434;
  margin-top: $h1-height + $spacing-vertical / 1.5;
  > a
  {
    padding: 20px;
    display: block;
    font-size: 1em;
    &:first-child
    {
      margin-left: 0;
    }
    &:last-child
    {
      margin-right: 0;
    }
    &.sub-header-selected
    {
      background-color: #343434;
      color: white;
    }
    &:hover
    {
      background-color: #343434;
      color: white;
    }
  }
}

#main-content
{
  // background-color: orange;
  display: inline-block;
  min-height: calc(100vh - 120px); //should be -$height-header, but I'm dumb I guess? It wouldn't work
  margin-top: $h1-height + $spacing-vertical / 1.5;
  // width: 85%;
  main.page
  {
    // padding: $spacing-vertical * 3;
    // background-color: green;
    padding: $spacing-vertical / 1.5;
    // margin-top: $h1-height + $spacing-vertical / 1.5;
  }
  h2
  {
    margin-bottom: $spacing-vertical;
  }
  h3, h4
  {
    margin-bottom: $spacing-vertical / 2;
    margin-top: $spacing-vertical;
    &:first-child
    {
      margin-top: 0;
    }
  }
  .meta
  {
    + h2, + h3, + h4
    {
      margin-top: 0;
    }
  }
}

$header-icon-size: 1.5em;

.open-drawer-link, .close-drawer-link
{
  display: inline-block;
  font-size: $header-icon-size;
  padding: 2px 6px 0 6px;
  float: left;
}
.close-lbry-link
{
  font-size: $header-icon-size;
  float: right;
  padding: 0 6px 0 18px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: $spacing-vertical;
  background: $color-bg;
  box-shadow: $default-box-shadow;
  border-radius: 2px;
}

.card-obscured {
  position: relative;
}

.card-obscured .card-content {
  -webkit-filter: blur($blur-intensity);
  -moz-filter: blur($blur-intensity);
  -o-filter: blur($blur-intensity);
  -ms-filter: blur($blur-intensity);
  filter: blur($blur-intensity);

}

.card-compact .card-content {
  min-height: 180px;
}

.card-overlay {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.8);
  color: #fff;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.card-series-submit
{
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: $spacing-vertical / 2;
}

.full-screen
{
  width: 100%;
  height: 100%;
}

.row-fluid.card-content {
  min-height: 180px;
}

.navIcon{
  height: 36px;
  z-index: 0;
}






