.form-field-container {
  display: inline-block;
}

.form-field-advice-container {
  position: relative;
}

.form-field-advice {
  position: absolute;
  top: 0px;
  left: 0px;

  display: flex;
  flex-direction: column;

  white-space: nowrap;

  transition: opacity 400ms ease-in;
}

.form-field-advice--fading {
  opacity: 0;
}

.form-field-advice__arrow {
  text-align: left;
  padding-left: 18px;

  font-size: 22px;
  line-height: 0.3;
  color: darken($color-primary, 5%);
}


.form-field-advice__content-container {
  display: inline-block;
}

.form-field-advice__content {
  display: inline-block;

  padding: 5px;
  border-radius: 2px;

  background-color: darken($color-primary, 5%);
  color: #fff;
}
